

@{
    ViewData["Title"] = "Home Page";
}

<div class="row rounded-2 hero">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-1 fw-bold text-center text-white hero-title">FoodieR</h1>
        <h3 class="text-white">Online Food Shop</h3>
    </div>
</div>
