@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@300;400;600&display=swap');



html {
    font-size: 14px;
   
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
   
}

html {
    position: relative;
    min-height: 100%;
   
}

body {
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
   
}

.hero {
    font-family: "Archivo Black", sans-serif;
    height: 700px;
    margin-bottom: 30px;
    margin-top: 40px;
    background-image: linear-gradient(to bottom, rgba(169, 169, 169, 0.1), rgba(0,0,0, .9)), url('../images/banner2.jpg');
    background-position-x: center, 68%; /* Pozitioneaza imaginea pe mijloc */
    background-size: cover;
    background-repeat: no-repeat; /* Evita repetarea imaginii */
    background-attachment: fixed; /* Optional, pentru efect de parallax-fixeaza imaginea pe fundal la scroll */
}

.hero-title {
    text-shadow: #0B5ED7 8px 0 1px;
}

